In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

In [3]:
sys.path.insert(0, "../")

In [4]:
sys.path

['../',
 '/Users/lcx/Documents/weclouddata/my_project/notebook',
 '/Users/lcx/anaconda3/envs/ML_py37/lib/python37.zip',
 '/Users/lcx/anaconda3/envs/ML_py37/lib/python3.7',
 '/Users/lcx/anaconda3/envs/ML_py37/lib/python3.7/lib-dynload',
 '',
 '/Users/lcx/anaconda3/envs/ML_py37/lib/python3.7/site-packages',
 '/Users/lcx/anaconda3/envs/ML_py37/lib/python3.7/site-packages/IPython/extensions',
 '/Users/lcx/.ipython']

## import class TweetAnalyzer

In [5]:
from TweetAnalyzer import TweetAnalyzer

In [6]:
twAnalyze = TweetAnalyzer()

### import data to pandas df

In [7]:
df_tweets = twAnalyze.load_to_csv("../twitter_data/twitter_data_fetched_test_4.txt")

In [8]:
df_tweets.head(5)

,tweet,hashtags,date,retweet_count,favorite_count,is_retweet,truncated,user_id,user_name,user_screen_name,user_followers_count,user_loc,geo
0,Reinforcement Learning #MachineLearning #AI h...,"MachineLearning, AI",Sun Sep 13 19:45:57 +0000 2020,0,0,True,False,1305231261879869441,ÂÖ≠Â∑¶Ë°õÈñÄ,The_Keitoku,2446,Â§¢„Åä„Åä„ÅÑ„Åæ„Å°,None
1,BEGINNING 1 #RealisticVirtualEarth &gt; https:...,"RealisticVirtualEarth, GoogleStreetView, TimeS...",Sun Sep 13 19:45:59 +0000 2020,0,0,True,False,1305231269597384704,HarbinBook,HarbinBook,417,"Berkeley, CA",None
2,These Lego-like bricks are actually robots v/ ...,"AI, Robotics",Sun Sep 13 19:46:03 +0000 2020,0,0,True,False,1305231285212905472,Franco Ronconi üáÆüáπ,FrRonconi,25280,Padova,None
3,These Lego-like bricks are actually robots v/ ...,"AI, Robotics",Sun Sep 13 19:46:04 +0000 2020,0,0,True,False,1305231291923804160,Alexandre T. Rosario,alerosario09,63,"Campinas, S√£o Paulo, Brasil",None
4,#AI #Innovation #hyperconnected #Humans Thes...,"AI, Innovation, hyperconnected, Humans, innova...",Sun Sep 13 19:46:04 +0000 2020,0,0,True,False,1305231291873456128,bnsuep,bnsuep1,192,"Brooklyn, NY",None

### clean the tweets

In [20]:
df_tweets["tweet_cleaned"]= df_tweets.apply(lambda row: twAnalyze.clean_tweet(row["tweet"]), axis=1)

In [22]:
# print the first 10 tweets to check
for ele in range(10):
    print(df_tweets.loc[ele, "tweet_cleaned"])

Reinforcement Learning
BEGINNING 1 in w for learning with via App Google open sources soccer
These Lego like bricks are actually robots v cc
These Lego like bricks are actually robots v cc
These Anti procrastination Smart Glasses Use Artificial Intelligence to Monitor What You Look at all Day via TY MT
LEAD THE WAY FOLLOW SEE ME BEHIND YOU
Reinforcement Learning
Race against a hologram
Reinforcement Learning
LEAD THE WAY FOLLOW SEE ME BEHIND YOU

### get the sentiment result

In [23]:
df_tweets["sentiment"]= df_tweets.apply(lambda row: twAnalyze.analyze_sentiment(row["tweet_cleaned"]), axis=1)

In [35]:
pos_count = df_tweets[df_tweets["sentiment"]==1].shape[0]
neutral_count = df_tweets[df_tweets["sentiment"]==0].shape[0]
neg_count = df_tweets[df_tweets["sentiment"]==-1].shape[0]

print("Total: ", df_tweets.shape[0], "\nPostive: ", pos_count, "\nNeutral: ", neutral_count, "\nNegative: ", neg_count)

Total:  248
Postive:  66
Neutral:  156
Negative:  26